* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.header-container,
.main-container {
  place-self: center;
}

.main,
.header {
  display: flex;
  gap: 20px;
  background-color: cornsilk;
  width: 100%;
  flex: 1;
  padding: 10px 10px;
  justify-content: center;
  place-self: center;
  border-radius: 10px;
}
.main {
  margin-top: 20px;
  gap: 40px;
}
.header-container {
  margin-top: 20px;
}
.flexItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
